<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gwiazdor 2021</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <p class="merry">
            {{ names[gifter] }}
        </p>
        <form action="/">
            <div style="display: flex; justify-content: center">
                <input class="button" type="submit" value="Powrót" />
            </div>
        </form>
    </div>

    {% for i in range(200) %}
        <div class="snowflake"></div>
    {% endfor %}
</body>
</html>